html {
    box-sizing: border-box;
}

*::after, *::before, * {
    box-sizing: inherit;
}

h1 {
    text-align: center;
    font-weight: 1000;
}

h1, h2, h3 {
    font-family: "Courier New", "Lucida Console", sans-serif;
}

p {
    font-family: sans-serif;
}

img {
    width: 460;
    height: auto;
}

#recipes-list {
    width: 400px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    border: 6px double black;
}

#recipes-list li {
    text-align: center;
    padding: 15px 0;
}

li a {
    color: lightyellow;
    font-family: sans-serif;
    font-size: 18px;
}

#li-feijoada {
    background-color: purple;
}

#li-lasagna {
    background-color: rgb(242, 89, 89);
}

#li-tropeiro {
    background-color: rgb(205, 175, 6);
}

#li-pudim {
    background-color: rgb(187, 123, 4);
}

#li-salpicao {
    background-color: rgb(174, 174, 7);;
}

.ingredients li, .steps li {
    font-size: 14px;
}


.ingredients, .steps {
    background-color: black;
    color: white;
}

#odin {
    color: goldenrod;
}